* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    align-items: flex-end;
    justify-content: space-between;
}

nav .logo {
    width: 150px;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}

.hero nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border-radius: 25px;
    padding: 15px 0;
}

.content {
    gap: 30%;
    text-align: center;
}

.content h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 600;
}

.content a {
    text-decoration: none;
    color: #fff;
    display: inline-table;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    
    padding: 15px 22px;

}

.content button {
    width: 200px;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid rgb(97, 230, 240);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
    
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

span {
    background: rgb(77, 245, 211);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span {
    width: 100%;
}

.content button:hover {
    border: none;
}

.hero nav ul button {
    row-gap: 10%;
    width: 100px;
    border-radius: 25px;
    padding: 10px 0;
    text-align: center;
    margin: 0px 0px;
    font-weight: bold;
    border: 2px solid rgb(30, 194, 235);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.hero a:hover span {
    width: 100%;
}

.hero a:hover {
    border: none;
}

.hero a {
    text-decoration: none;
    color: #fff;
    display: inline-table;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 600;
}